/* global layout styles */

div , body, span{
  padding:0px;
  margin:0px;
  border:0px;
}

body{
  background-image: url('../images/binding_light.png');
/*  background-repeat: no-repeat;
  background-size: 100%;*/
}

h1{
  display:inline-block;
  font-size:14pt;
  margin-left:10px;
}

select {
  border:0; 
  color:black; 
  background:white;
  font-size:20px; 
  font-weight:bold; 
  padding:2px 10px; 
  -webkit-appearance: none;  
  margin-left:10px;
  display:inline-block;
  height:40px;
  -webkit-border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 2px 2px #AAA;
}

#weatherFooter
{
	position:absolute;
	top:500px;
	left:200px;
}

.AMPM_Selected
{
	color:blue;
}

#watch_frame{
  position:absolute;
  top:150px;
  left:50px;
}

#morning_watch{
  position:absolute;
  top:0px;
  left:0px;
  width:400px;
  height:400px;
  /* border:1px solid black; */
}
#morning_needle{
  position:absolute;
  background-image:url('../images/hourHand.png');
  background-size: 100%;
  width:300px;
  height:300px;
  top:50px;
  left:50px; 
 /* border:1px solid black; */
}
#morning_needle_minute{
  position:absolute;
  background-image:url('../images/minuteHand.png');
  background-size: 100%;
  width:300px;
  height:300px;
  top:50px;
  left:50px; 
}
#morning_needle_second{
  position:absolute;
  background-image:url('../images/secondHand.png');
  background-size: 100%;
  width:300px;
  height:300px;
  top:50px;
  left:50px; 
}

#afternoon_watch{
  position:absolute;
  top:0px;
  left:480px;
  width:400px;
  height:400px;
 /* border:1px solid red; */
}
#afternoon_needle{
  position:absolute;
  background-image:url('../images/hourHand.png');
  width:300px;
  height:300px;
  background-repeat: no-repeat;
  background-size: 100%;
  top:50px;
  left:535px; 
/*  border:1px solid black; */
}
#afternoon_needle_minute{
  position:absolute;
  background-image:url('../images/minuteHand.png');
  width:300px;
  height:300px;
  background-repeat: no-repeat;
  background-size: 100%;
  top:50px;
  left:535px; 
/*  border:1px solid black; */
}
#afternoon_needle_second{
  position:absolute;
  background-image:url('../images/secondHand.png');
  width:300px;
  height:300px;
  background-repeat: no-repeat;
  background-size: 100%;
  top:50px;
  left:535px; 
/*  border:1px solid black; */
}

.hour{
  /*border:1px solid black;*/
 /* background-color: white; */
  /* border-radius: 50%; */
 /* box-shadow: 1px 1px 1px #999;*/
  padding:3px;
  width:30px;
  position:absolute;
  margin-left:-15px;
  margin-top:-13px;
}
.date
{
  font-size: 18pt;
}


.picto{
  position:absolute;
  margin-left:-25px;
  margin-top:-30px;
}

.icon {
  display:inline-block;
  width:60px;
  height:50px;  
}

.temperature{
  position:relative;
  font-size: 10pt;
  font-size:10pt;
  width:100%;
  text-align:center;
}

.date{
  width:100%;
  text-align:center;
}
